.archive/
.DS_Store

**/nohup.out
video_processing.log   

venv/
codegrab-output.md   

pieces/
assets/
frappe/
articles/
modules/__pycache__
__pycache__


bg-final.png
modules/credentials.json
modules/token.json
