[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
openai-whisper = {git = "https://github.com/openai/whisper.git"}
mutagen = "*"

[dev-packages]

[requires]
python_version = "3.13"
